*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    font-family: "Bitcount Single", system-ui;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container{
    border:1px solid red;
    padding:20px;
    border-radius:10px;
}

.dark{
    background-color:#202020;
    color:white;
        transition:  all 0.5s ease; 

 
 }
/* text */
 .bitcount-single-var {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.time{
    font-size: 40px;
}


.button{
    margin:40px auto;
    border-radius:30px;
    width:150px;
    background:linear-gradient(rgb(255, 255, 255), rgb(212, 211, 211));
    padding:10px 30px;
    border: 2px solid rebeccapurple;
    transition:  all 0.5s ease; 
}
 .button.dark{
        background:linear-gradient(rgb(98, 98, 98), rgb(0, 0, 0));

 }
.button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rebeccapurple;
}

